{% extends "layout.html" %}
{% set stabilities = package.versionsPerStability %}
{% set vendorname = package.nameOfVendor %}

{% block title %}{{ package.name }} - phar project{% endblock %}

{% block content %}
<h1>{{ package.name }}</h1>
<p class="lead">{{ package.description }}</p>
<a href="https://packagist.org/packages/{{ package.name }}">More info on packagist.org</a>

<h2>Download available versions</h2>

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        {% for stability in stabilities|keys %}
        <li {% if loop.first %} class="active"{% endif %}>
            <a data-toggle="tab" href="#{{ stability }}">{{ stability }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
    {% for stability, versions in stabilities %}
    <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ stability }}">
        <dl class="dl-horizontal">
            {% if stability == "stable" %}
            <dt>latest stable</dt>
            <dd style="margin-bottom:0.5em">
                <strong><a href="{{ url('download', {vendor: "#{vendorname}", name: "#{package.namesub}"}) }}" class="btn btn-primary">Download stable</a></strong>
            </dd>
            {% endif %}
            {% for version in versions %}
            <dt>{{version.id|escape}}</dt>
            <dd>
                <a href="{{ url('download', {vendor: "#{vendorname}", name: "#{package.namesub}"}) }}?version={{version.id|escape}}" class="btn btn-primary">Download <strong>{{ version.id|escape }}</strong></a>
                <p>
                    <span class="updated">updated on <time>{{ version.date|date }}</time></span> <br />
              
                    {% if version.bin %}
                    <strong class="label">Executable:</strong>
                    <code>{{ version.bin|join(', ') }}</code>
                    {% else %}
                    <p class="text-warning">
                        <strong class="label">Error:</strong>
                        Unable to create phar for package with no bin defined
                    </p>
                    {% endif %}
                    
                    {% if version.idOfBuild %}
                        {% set build = version.build %}
                        Build: {{ build.id }}
                        {% set status = build.statusText %}
                        
                        Status: {{ status }}
                        <pre>{{- build.log|escape -}}</pre>
                    {% endif %}
                </p>
            </dd>
            {% endfor %}
        </dl>
    </div>
    {% endfor %}
    </div>
</div>

<a href="{{ url('vendor', {vendor: "#{vendorname}"}) }}">More from vendor {{ vendorname }}</a>

{% endblock %}