{% extends "layout.html" %}
{% set stabilities = package.versionsPerStability %}
{% set vendorname = package.nameOfVendor %}

{% block title %}{{ package.name }} - phar project{% endblock %}

{% block content %}
<h1>{{ package.name }}</h1>
<p class="lead">{{ package.description }}</p>
<a href="https://packagist.org/packages/{{ package.name }}">More info on packagist.org</a>

<h2>Download available versions</h2>

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        {% for stability in stabilities|keys %}
        <li {% if loop.first %} class="active"{% endif %}>
            <a data-toggle="tab" href="#{{ stability }}">{{ stability }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
    {% for stability, versions in stabilities %}
    <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ stability }}">
        <dl class="dl-horizontal">
            {% if stability == "stable" %}
            {% set id = attribute(versions|first, "id") %}
            <dt>latest stable</dt>
            <dd style="margin-bottom:0.5em">
                
                  <a href="{{ url('download', {vendor: "#{vendorname}", name: "#{package.namesub}"}) }}" class="btn btn-primary">
                    <i class="icon-download icon-2x pull-left"></i>
                    Download {{ package.filename }} <br />
                    Version <strong>{{ id|escape }}</strong>
                  </a>
                  <p><i class="icon-circle-arrow-right" title="References {{ id|escape }}"></i> {{ id|escape }}</p>
            </dd>
            {% endif %}
            {% for version in versions %}
                {% set icon = "play-circle" %}
                {% set status = "Build not yet started" %}
                
                {% if version.idOfBuild %}
                    {% set build = version.build %}
                    {% set status = "Build #" ~ build.id ~ ", Status: " ~ build.statusText %}
                    {% set icon = attribute({"ok": "ok-sign", "error": "remove-sign", "processing": "refresh icon-spin", "pending": "refresh icon-spin"}, build.statusText) %}
                {% endif %}
            <dt>{{version.id|escape}}</dt>
            <dd>
                <a href="{{ url('download', {vendor: "#{vendorname}", name: "#{package.namesub}"}) }}?version={{version.id|escape}}" class="btn">
                  <i class="icon-download icon-large"></i>
                  Download <strong>{{ version.id|escape }}</strong>
                </a>
                <p>
                    <span class="updated">
                      <a href="#log{{version.idOfBuild}}" data-toggle="collapse"><i class="icon-{{ icon }}" title="{{ status }}"></i></a>
                      updated on <time>{{ version.date|date }}</time>
                    </span>
                    
                    {% if version.idOfBuild %}
                        {% set build = version.build %}
                        <div id="log{{version.idOfBuild}}" class="collapse">
                            <h3>Build log #{{ build.id }}</h3>
                            <pre >{{- build.log|escape|default("<em>Waiting for worker to pick up job...</em>")|raw -}}</pre>
                        </div>
                    {% endif %}
                </p>
            </dd>
            {% endfor %}
        </dl>
    </div>
    {% endfor %}
    </div>
</div>

<a href="{{ url('vendor', {vendor: "#{vendorname}"}) }}">More from vendor {{ vendorname }}</a>

{% endblock %}